schema/shingle_options.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <include href="spud_base.rng"/>
  <include href="mesh_options.rng"/>
  <start>
    <element name="shingle_options">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="initialisation_name">
        <a:documentation>Model output files are named according to the initialisation
name, e.g. [initialisation_name].geo.

Non-standard characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="domain_type">
        <a:documentation>Option domain_type does not change the tree.

It is used for options checking.</a:documentation>
        <element name="string_value">
          <!--
            Lines is a hint to the gui about the size of the text box.
            It is not an enforced limit on string length.
          -->
          <attribute name="lines">
            <value>1</value>
          </attribute>
          <choice>
            <value>oceans</value>
            <value>ocean_ice_shelf</value>
            <value>geophysical</value>
            <value>surface_geoid</value>
            <value>stokes</value>
          </choice>
        </element>
        <ref name="comment"/>
      </element>
      <ref name="general"/>
      <zeroOrMore>
        <ref name="datasets"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="surface_geoid_representation"/>
      </oneOrMore>
      <ref name="metric_options"/>
      <ref name="mesh_options"/>
      <ref name="verification_tests"/>
    </element>
  </start>
  <define name="datasets">
    <element name="dataset">
      <a:documentation>Boundary representation component</a:documentation>
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <choice>
        <ref name="dataset_raster"/>
        <ref name="dataset_polyline"/>
        <ref name="dataset_gis_project"/>
      </choice>
      <choice>
        <element name="projection">
          <a:documentation>Projection of input data source:
Automatic, read from source
(as much as possible)</a:documentation>
          <attribute name="name">
            <value>Automatic</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="projection">
          <a:documentation>Projection of input data source:
Cartesian</a:documentation>
          <attribute name="name">
            <value>Cartesian</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="projection">
          <a:documentation>Projection of input data source:
Stereographic

Needs pole orientation?</a:documentation>
          <attribute name="name">
            <value>Stereographic</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="projection">
          <a:documentation>Projection of input data source:
Proj4 string</a:documentation>
          <attribute name="name">
            <value>Proj4_string</value>
          </attribute>
          <data type="string"/>
          <ref name="comment"/>
        </element>
      </choice>
    </element>
  </define>
  <define name="dataset_raster">
    <element name="form">
      <a:documentation>Raster dataset reference</a:documentation>
      <attribute name="name">
        <value>Raster</value>
      </attribute>
      <ref name="comment"/>
      <ref name="dataset_raster_options"/>
    </element>
  </define>
  <define name="dataset_polyline">
    <element name="form">
      <a:documentation>Polyline dataset reference</a:documentation>
      <attribute name="name">
        <value>Polyline</value>
      </attribute>
      <ref name="comment"/>
      <ref name="dataset_polyline_options"/>
    </element>
  </define>
  <define name="dataset_gis_project">
    <element name="form">
      <a:documentation>Project file reference,
containing both polyline and raster data forms,
from a GIS project, for example.</a:documentation>
      <attribute name="name">
        <value>Project</value>
      </attribute>
      <ref name="comment"/>
      <ref name="dataset_project_options"/>
    </element>
  </define>
  <define name="dataset_raster_options">
    <choice>
      <element name="source">
        <a:documentation>Source raster dataset

(change to define a folder within project for location?)

Default: ~/tmp/dataset/rtopo/RTopo105b_50S.nc</a:documentation>
        <attribute name="name">
          <value>Local_file</value>
        </attribute>
        <attribute name="file_name">
          <data type="string"/>
        </attribute>
        <ref name="comment"/>
      </element>
      <element name="source">
        <a:documentation>Source raster dataset

See: http://www.opendap.org

See: http://opendap.deltares.nl

See: http://www.esrl.noaa.gov/psd/data/gridded/using_dods.html</a:documentation>
        <attribute name="name">
          <value>OPeNDAP</value>
        </attribute>
        <data type="string"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="dataset_polyline_options">
    <element name="source">
      <a:documentation>Source shapefile (.shp) containing polyline information

(change to define a folder within project for location?)</a:documentation>
      <attribute name="name">
        <value>Local_file</value>
      </attribute>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="comment"/>
    </element>
    <element name="source">
      <a:documentation>Source shapefile (.shp) containing polyline information

See: http://www.opendap.org

See: http://opendap.deltares.nl

See: http://www.esrl.noaa.gov/psd/data/gridded/using_dods.html</a:documentation>
      <attribute name="name">
        <value>OPeNDAP</value>
      </attribute>
      <data type="string"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="dataset_project_options">
    <element name="source">
      <a:documentation>Source project location

(change to define a folder within project for location?)</a:documentation>
      <attribute name="name">
        <value>Local_file</value>
      </attribute>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="comment"/>
    </element>
  </define>
  <define name="general">
    <element name="global_parameters">
      <a:documentation>Global default paramters</a:documentation>
      <optional>
        <element name="planet_radius">
          <a:documentation>The default radius of the planet
for the purpose of a common parameter
in projections.

Default: 6.37101e+06m

Unit: metres</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="spacing_default">
          <a:documentation>The default spacing between nodes in connecting
paths that are drawn out as required.

Distance of steps when drawing parallels and meridians (currently in degrees - need to project)

Default: 0.1

Legacy parameter: dx_default</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="physical_lines_separate">
          <a:documentation>Include this option to make individual definitions for
boundary identifications, instead of as a whole.

Including this option ensures the output does not contain
extra spurious 1d elements in tests.
It does however generate complaints (rightly so) of multiple
physical line definitions.
This option is provided as a pragmatic solution to what appears
unintended behaviour of the meshing algorithm.
Alternatively the output mesh can be parsed of the spurious
elements using the post-processing option: parse_spurious_elements

Default: False</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="surface_geoid_representation_output">
    <element name="output">
      <a:documentation>Output options

Default file_name: ./shorelines.geo</a:documentation>
      <attribute name="file_name">
        <data type="string"/>
      </attribute>
      <ref name="comment"/>
      <optional>
        <element name="projection">
          <a:documentation> Output Projection type

Default: cartesian

Legacy: projection</a:documentation>
          <element name="string_value">
            <choice>
              <value>cartesian</value>
              <value>proj_cartesian</value>
              <value>proj_cartesian_inverse</value>
              <value>hammer</value>
              <value>longlat</value>
            </choice>
          </element>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="surface_geoid_representation">
    <element name="surface_geoid_representation">
      <a:documentation>A description of a surface geoid object
for computational representation</a:documentation>
      <attribute name="name">
        <a:documentation>An supplement suffix for the IDs in the output
boundary representation description.
This is useful if multiple distinct surfaces exist
in the project.

Default: ''</a:documentation>
        <data type="string"/>
      </attribute>
      <element name="id">
        <a:documentation>Identification the resulting surface

Default: 9</a:documentation>
        <ref name="integer"/>
        <ref name="comment"/>
      </element>
      <optional>
        <element name="id_internal_suffix">
          <a:documentation>Character used in boundary representation description

Used for debugging purposes.</a:documentation>
          <data type="string"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="more_bsplines">
          <a:documentation>Break up BSpline defintions are turning points to impose
geometric constraint at these point in the mesh generation process.

Default: False</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
      <ref name="surface_geoid_representation_output"/>
      <oneOrMore>
        <ref name="surface_geoid_representation_brep"/>
      </oneOrMore>
      <optional>
        <ref name="surface_geoid_representation_closure"/>
      </optional>
      <optional>
        <ref name="internal_regions"/>
      </optional>
    </element>
  </define>
  <define name="internal_regions">
    <element name="internal_regions">
      <a:documentation>Define interal regions

e.g. vegetation in lagoons,
areas of variable manning coefficient

To be sorted...</a:documentation>
      <zeroOrMore>
        <element name="internal_region">
          <attribute name="name">
            <data type="string"/>
          </attribute>
          <ref name="comment"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="surface_geoid_representation_brep">
    <element name="brep_component">
      <a:documentation>Boundary representation component</a:documentation>
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <choice>
        <ref name="surface_geoid_representation_raster"/>
        <ref name="surface_geoid_representation_polyline"/>
      </choice>
      <element name="id">
        <a:documentation>Identification the resulting boundary

Default (for closed boundaries): 3
Default (for open boundaries): 4</a:documentation>
        <ref name="integer"/>
        <ref name="comment"/>
      </element>
      <choice>
        <element name="representation_type">
          <a:documentation>Representation type for the component brep

Default: BSplines

Legacy: compound</a:documentation>
          <attribute name="name">
            <value>BSplines</value>
          </attribute>
          <ref name="comment"/>
        </element>
        <element name="representation_type">
          <attribute name="name">
            <value>CompoundBSplines</value>
          </attribute>
          <ref name="comment"/>
        </element>
      </choice>
      <optional>
        <element name="spacing">
          <a:documentation>Node spacing

Distance of steps when drawing parallels and meridians (currently in degrees - need to project)

Default: Revert to global spacing above

Legacy: dx</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="links">
          <a:documentation>Link to other brep components

Default behaviour is automatic</a:documentation>
          <optional>
            <element name="start">
              <a:documentation>Start of brep is linked to brep_component named</a:documentation>
              <attribute name="name">
                <data type="string"/>
              </attribute>
              <optional>
                <element name="reverse">
                  <a:documentation>Default behavior is to match the start of this brep
to the *end* of the named brep.
Enable this to match start to start</a:documentation>
                  <ref name="comment"/>
                </element>
              </optional>
            </element>
          </optional>
          <optional>
            <element name="end">
              <attribute name="name">
                <data type="string"/>
              </attribute>
              <optional>
                <element name="reverse">
                  <a:documentation>Default behavior is to match the end of this brep
to the *start* of the named brep.
Enable this to match end to end</a:documentation>
                  <ref name="comment"/>
                </element>
              </optional>
            </element>
          </optional>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="surface_geoid_representation_raster">
    <element name="form">
      <a:documentation>Boundary representation component source</a:documentation>
      <attribute name="name">
        <value>Raster</value>
      </attribute>
      <ref name="comment"/>
      <ref name="surface_geoid_representation_raster_options"/>
    </element>
  </define>
  <define name="surface_geoid_representation_polyline">
    <element name="form">
      <a:documentation>Boundary representation component source</a:documentation>
      <attribute name="name">
        <value>Polyline</value>
      </attribute>
      <ref name="comment"/>
      <ref name="surface_geoid_representation_polyline_options"/>
    </element>
  </define>
  <define name="surface_geoid_representation_polyline_options">
    <element name="source">
      <a:documentation>Dataset to source the polyline</a:documentation>
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <ref name="comment"/>
    </element>
  </define>
  <define name="surface_geoid_representation_raster_options">
    <element name="source">
      <a:documentation>Dataset to source the raster</a:documentation>
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <ref name="comment"/>
    </element>
    <optional>
      <element name="region">
        <a:documentation>Region specification - multiple?
Function specifying region of interest

e.g. 'latitude &lt;= -60.0'

Default: 'True' (string)

Legacy: 
region</a:documentation>
        <data type="string"/>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <element name="box">
        <a:documentation>Box 
Boxes with regions of interest

e.g. -85.0:-20.0,-89.0:-75.0 -64.0:-30.0,-89.0:-70.0 -30.0:-20.0,-89.0:-75.0

Default: []

Legacy: box</a:documentation>
        <data type="string"/>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <element name="minimum_area">
        <a:documentation>Minimum area of islands / holes in geoid surface

Default: 0

Legacy: minarea</a:documentation>
        <ref name="real"/>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <!-- Define alternative here - breaking up the following -->
      <element name="contourtype">
        <a:documentation>Contour type

Default: iceshelfcavity

Legacy: contourtype</a:documentation>
        <element name="string_value">
          <choice>
            <value>iceshelfcavity</value>
            <value>icesheet</value>
            <value>z</value>
            <value>ocean10m</value>
            <value>zmask</value>
            <value>xyz</value>
            <value>noshelf</value>
            <value>gsds</value>
            <value>mask</value>
            <value>gsdsz</value>
            <value>gebco</value>
            <value>gsdszc</value>
          </choice>
        </element>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <element name="include_iceshelf_ocean_cavities">
        <a:documentation>Include iceshelf ocean cavities

Includes iceshelf ocean cavities from mesh (default behaviour includes region)

Default: True

Legacy: include_iceshelf_ocean_cavities</a:documentation>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <element name="boundary">
        <a:documentation>Boundaries
Use a list of integers instead?
Specify paths to include

Default: []

Legacy: boundaries</a:documentation>
        <ref name="integer"/>
        <ref name="comment"/>
      </element>
    </optional>
    <optional>
      <element name="boundary_to_exclude">
        <a:documentation>Boundaries to exclude
Use a list of integers instead?
Specify paths to exclude

Default: []

Legacy: boundariestoexclude</a:documentation>
        <ref name="integer"/>
        <ref name="comment"/>
      </element>
    </optional>
  </define>
  <define name="surface_geoid_representation_closure">
    <element name="closure">
      <a:documentation>Methods to close the geoid surface domain.</a:documentation>
      <optional>
        <element name="no_open">
          <a:documentation>Do not include open boundaries

Default: False

Legacy: open (default true)</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="open_id">
          <a:documentation>Open boundary ID

Default (for open boundaries): 4</a:documentation>
          <ref name="integer"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="bounding_latitude">
          <a:documentation>Bounding latitude.
Latitude of boundary to close the domain.

Default: -50.0

Legacy: bounding_lat</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="extend_to_latitude">
          <a:documentation>Extend to latitude.

Latitude to extend open domain to.

Default: None

Legacy: extendtolatitude</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="close_with_parallels">
          <a:documentation>Close with parallels 

Default: False 

Legacy: closewithparallels</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
  </define>
  <!--
         ## Processing - smoothing
         ## Have separate rasters section?  - sources?
         ##
         ## Default: False
         ##
         ## Legacy: smooth_data
         element smooth_data {
           comment,
           ## Intensity of smoothing
           ##
           ## Default: 100
           ##
           ## Legacy: smooth_degree
           element magnitude {
             real,
             comment
           }
         }
  -->
  <define name="metric_options">
    <optional>
      <element name="metric_options">
        <a:documentation>Metric generation options</a:documentation>
        <optional>
          <element name="generate_metric">
            <a:documentation>Generate metric alongside the creation of the boundary representation
to guide element size over the spatial surface geoid

Default: False</a:documentation>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="element_length">
            <a:documentation>Element length

Default: 1.0E5

Legacy: elementlength</a:documentation>
            <ref name="real"/>
            <ref name="comment"/>
          </element>
        </optional>
      </element>
    </optional>
  </define>
  <define name="mesh_options">
    <optional>
      <element name="mesh_options">
        <a:documentation>Mesh generation options</a:documentation>
        <optional>
          <element name="generate_mesh">
            <a:documentation>Generate mesh following creation of the boundary representation

Default: False</a:documentation>
            <ref name="comment"/>
          </element>
        </optional>
      </element>
    </optional>
  </define>
  <define name="metric">
    <element name="metric">
      <element name="name">
        <a:documentation>Metric definition</a:documentation>
        <attribute name="name">
          <value>Metric_name</value>
        </attribute>
        <element name="name">
          <ref name="anystring"/>
        </element>
      </element>
    </element>
  </define>
  <define name="mesh">
    <element name="mesh">
      <element name="name">
        <a:documentation>Mesh definition</a:documentation>
        <attribute name="name">
          <value>Mesh_name</value>
        </attribute>
        <element name="name">
          <ref name="anystring"/>
        </element>
      </element>
    </element>
  </define>
  <define name="raster_input_format">
    <a:documentation>NetCDF CF 1.4 (http://cf-pcmdi.llnl.gov/)</a:documentation>
    <element name="format">
      <a:documentation>raster input file format.</a:documentation>
      <attribute name="name">
        <value>Raster</value>
      </attribute>
      <optional>
        <element name="field_name">
          <a:documentation>The field to read from the vtu file. If not supplied, the name of
the initialised field is used.</a:documentation>
          <ref name="anystring"/>
          <ref name="comment"/>
        </element>
      </optional>
      <ref name="comment"/>
    </element>
  </define>
  <define name="test_integer">
    <choice>
      <element name="value">
        <a:documentation>Value</a:documentation>
        <ref name="integer"/>
        <ref name="comment"/>
        <optional>
          <element name="tolerance">
            <a:documentation>Tolerance</a:documentation>
            <ref name="integer"/>
            <ref name="comment"/>
          </element>
        </optional>
      </element>
      <element name="range">
        <a:documentation>Range</a:documentation>
        <optional>
          <element name="minimum">
            <a:documentation>Minimum</a:documentation>
            <ref name="integer"/>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="maximum">
            <a:documentation>Maximum</a:documentation>
            <ref name="integer"/>
            <ref name="comment"/>
          </element>
        </optional>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="test_real">
    <choice>
      <element name="value">
        <a:documentation>Value</a:documentation>
        <ref name="real"/>
        <ref name="comment"/>
        <optional>
          <element name="tolerance">
            <a:documentation>Tolerance</a:documentation>
            <ref name="real"/>
            <ref name="comment"/>
          </element>
        </optional>
      </element>
      <element name="range">
        <a:documentation>Range

Note one can use this option to specify a lower or upper 
bound, as well as specifying a complete range.</a:documentation>
        <element name="minimum">
          <a:documentation>Minimum</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
        <element name="maximum">
          <a:documentation>Maximum</a:documentation>
          <ref name="real"/>
          <ref name="comment"/>
        </element>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="verification_tests_old">
    <optional>
      <element name="verification">
        <a:documentation>Verification test structure.

Parameters containing expected values for the
surface geoid boundary representation
provided above.</a:documentation>
        <optional>
          <element name="node_number">
            <a:documentation>Node number</a:documentation>
            <ref name="test_integer"/>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="element_number">
            <a:documentation>Element number</a:documentation>
            <ref name="test_integer"/>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="edge_node_number">
            <a:documentation>Edge node number</a:documentation>
            <ref name="test_integer"/>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="surface_geoid_area">
            <a:documentation>Surface Geoid Area</a:documentation>
            <ref name="test_real"/>
            <ref name="comment"/>
          </element>
        </optional>
        <optional>
          <element name="element_circumsphere">
            <a:documentation>Element circumsphere range</a:documentation>
            <ref name="test_real"/>
            <ref name="comment"/>
          </element>
        </optional>
      </element>
    </optional>
  </define>
  <define name="verification_tests">
    <optional>
      <element name="verification">
        <a:documentation>Verification test structure</a:documentation>
        <oneOrMore>
          <choice>
            <element name="test">
              <a:documentation>Node number</a:documentation>
              <attribute name="name">
                <value>node_number</value>
              </attribute>
              <ref name="test_integer"/>
              <ref name="comment"/>
            </element>
            <element name="test">
              <a:documentation>Element number</a:documentation>
              <attribute name="name">
                <value>element_number</value>
              </attribute>
              <ref name="test_integer"/>
              <ref name="comment"/>
            </element>
            <element name="test">
              <a:documentation>Edge node number</a:documentation>
              <attribute name="name">
                <value>edge_node_number</value>
              </attribute>
              <ref name="test_integer"/>
              <ref name="comment"/>
            </element>
            <element name="test">
              <a:documentation>Surface Geoid Area</a:documentation>
              <attribute name="name">
                <value>surface_geoid_area</value>
              </attribute>
              <ref name="test_real"/>
              <ref name="comment"/>
            </element>
            <element name="test">
              <a:documentation>Element circumsphere range</a:documentation>
              <attribute name="name">
                <value>element_circumsphere</value>
              </attribute>
              <ref name="test_real"/>
              <ref name="comment"/>
            </element>
            <!-- Improve with tolerance on positions? -->
            <element name="brep_description">
              <a:documentation>Compare the raw content of the description
of the boundary representation</a:documentation>
              <attribute name="name">
                <value>brep_description</value>
              </attribute>
              <attribute name="file_name">
                <data type="string"/>
              </attribute>
              <ref name="comment"/>
            </element>
          </choice>
        </oneOrMore>
      </element>
    </optional>
  </define>
  <!--
    raw geo diff?
    geo diff with tolerance on positions?
  -->
  <define name="geometry">
    <element name="geometry">
      <a:documentation>Options dealing with the specification of geometry</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <choice>
            <value>3</value>
            <value>2</value>
            <value>1</value>
          </choice>
        </element>
      </element>
      <element name="mesh">
        <a:documentation>The position mesh</a:documentation>
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
        <ref name="mesh_info"/>
      </element>
      <optional>
        <element name="mesh">
          <a:documentation>The velocity mesh</a:documentation>
          <attribute name="name">
            <value>VelocityMesh</value>
          </attribute>
          <ref name="mesh_info"/>
        </element>
      </optional>
      <optional>
        <element name="mesh">
          <a:documentation>The pressure mesh</a:documentation>
          <attribute name="name">
            <value>PressureMesh</value>
          </attribute>
          <ref name="mesh_info"/>
        </element>
      </optional>
      <zeroOrMore>
        <element name="mesh">
          <attribute name="name">
            <data type="string"/>
          </attribute>
          <ref name="mesh_info"/>
          <optional>
            <element name="exclude_from_mesh_adaptivity">
              <empty/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
      <element name="quadrature">
        <a:documentation>Quadrature</a:documentation>
        <element name="degree">
          <a:documentation>Quadrature degree

note: this specifies the degree of quadrature,
not the number of gauss points</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="surface_degree">
            <a:documentation>Surface quadrature degree

note: this specifies the degree of surface
quadrature not the number of surface gauss points</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
        <optional>
          <element name="controlvolume_surface_degree">
            <a:documentation>Sets the degree of quadrature on each quadrilateral
face of the control volume. 

Defaults to 1 if
unselected which is the same as pre-new options
behaviour.</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
        <optional>
          <element name="quadrature_family">
            <a:documentation>Select which family of quadrature rules to use.
The default is family_cools.
family_wandzura allows for degree up to 30
on triangular meshes.
family_grundmann_moeller allows for degree up to
29 on simplicial meshes in arbitrary dimension.</a:documentation>
            <element name="string_value">
              <choice>
                <value>family_cools</value>
                <value>family_grundmann_moeller</value>
                <value>family_wandzura</value>
              </choice>
            </element>
          </element>
        </optional>
      </element>
      <optional>
        <element name="disable_geometric_data_cache">
          <a:documentation>This causes the change of variables associated with each element in 
the mesh to be stored rather than calculated every time it is used. 
This should speed up computations at a cost of some memory. 

The cache is automatically regenerated after mesh movement or 
adaptivity and is automatically disabled for non-linear positions fields.</a:documentation>
          <empty/>
        </element>
      </optional>
      <optional>
        <element name="spherical_earth">
          <a:documentation>Options specifying that the problem is on the surface of the sphere.</a:documentation>
          <choice>
            <element name="linear_mapping">
              <empty/>
            </element>
            <element name="superparametric_mapping">
              <a:documentation>Enabling this option approximates the curvature of the Earth as an
nth degree polynomial, where n is the polynomial degree of the coordinate mesh.</a:documentation>
              <empty/>
            </element>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="ocean_boundaries">
          <a:documentation>Options specifying the top surface and bottom of the domain
used in various ocean calculations.</a:documentation>
          <element name="top_surface_ids">
            <a:documentation>Specify the surface ids that make up the top of the domain,
i.e. the free surface or rigid lid.</a:documentation>
            <ref name="integer_vector"/>
          </element>
          <element name="bottom_surface_ids">
            <a:documentation>Specify the surface ids that make up the bottom.</a:documentation>
            <ref name="integer_vector"/>
          </element>
          <element name="scalar_field">
            <a:documentation>Diagnostic field giving the distance to the top surface.</a:documentation>
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <attribute name="name">
              <value>DistanceToTop</value>
            </attribute>
            <element name="diagnostic">
              <ref name="internal_algorithm"/>
              <element name="mesh">
                <attribute name="name">
                  <value>CoordinateMesh</value>
                </attribute>
              </element>
              <ref name="diagnostic_scalar_field"/>
            </element>
          </element>
          <element name="scalar_field">
            <a:documentation>Diagnostic field giving the distance to ocean bottom.</a:documentation>
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <attribute name="name">
              <value>DistanceToBottom</value>
            </attribute>
            <element name="diagnostic">
              <ref name="internal_algorithm"/>
              <element name="mesh">
                <attribute name="name">
                  <value>CoordinateMesh</value>
                </attribute>
              </element>
              <ref name="diagnostic_scalar_field"/>
            </element>
          </element>
        </element>
      </optional>
    </element>
  </define>
</grammar>
