schema/shingle_options.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="mesh_options.rng"/>
  <!--
     verbose = True
     debug = False
     
     reportcache = ''
     reportline = 0
     
     planet_radius = 6.37101e+06
     dx_default = 0.1
     fileid = ''
     compound = False
     more_bsplines = False
     physical_lines_separate = False
     
     input  = os.path.expanduser('~/tmp/dataset/rtopo/RTopo105b_50S.nc')
     output = './shorelines.geo'
     boundaries = []
     boundariestoexclude = []
     dx = universe.dx_default
     region = 'True'
     box = []
     minarea = 0
     extendtolatitude = None
     open = True
     bounding_lat = -50.0
     smooth_data = False
     smooth_degree = 100
     include_iceshelf_ocean_cavities = True
     projection = 'cartesian'
     contourtype = 'iceshelfcavity'
     plotcontour = False
     cache = False
     closewithparallels = False
     elementlength = '1.0E5'
     generatemesh = False
     generatemetric = False
  -->
  <start>
    <element name="shingle_options">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="initialisation_name">
        <a:documentation>Model output files are named according to the simulation
name, e.g. [simulation_name]_0.vtu. Non-standard
characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="problem_type">
        <a:documentation>Option problem_type does not change the tree.  It is just used for options checking.</a:documentation>
        <element name="string_value">
          <!--
            Lines is a hint to the gui about the size of the text box.
            It is not an enforced limit on string length.
          -->
          <attribute name="lines">
            <value>1</value>
          </attribute>
          <choice>
            <value>oceans</value>
            <value>ocean_ice_shelf</value>
            <value>geophysical</value>
            <value>surface_geoid</value>
            <value>stokes</value>
          </choice>
        </element>
        <ref name="comment"/>
      </element>
      <ref name="geometry"/>
      <element name="io">
        <a:documentation>Input/output options</a:documentation>
        <element name="dump_format">
          <a:documentation>Format for dump files. Only vtk for now.</a:documentation>
          <element name="string_value">
            <value>vtk</value>
          </element>
        </element>
      </element>
      <ref name="metric"/>
      <ref name="mesh"/>
      <ref name="test"/>
    </element>
  </start>
  <define name="metric">
    <element name="metric">
      <element name="name">
        <a:documentation>Metric definition</a:documentation>
        <attribute name="name">
          <value>Metric name</value>
        </attribute>
        <element name="name">
          <ref name="anystring"/>
        </element>
      </element>
    </element>
  </define>
  <define name="mesh">
    <element name="mesh">
      <element name="name">
        <a:documentation>Mesh definition</a:documentation>
        <attribute name="name">
          <value>Mesh name</value>
        </attribute>
        <element name="name">
          <ref name="anystring"/>
        </element>
      </element>
    </element>
  </define>
  <define name="test">
    <element name="test">
      <element name="node_number">
        <a:documentation>Test structure</a:documentation>
        <attribute name="name">
          <value>Node number</value>
        </attribute>
        <element name="tolerance">
          <ref name="integer"/>
        </element>
      </element>
      <element name="element_number">
        <attribute name="name">
          <value>Element number</value>
        </attribute>
        <element name="tolerance">
          <ref name="integer"/>
        </element>
      </element>
      <optional>
        <element name="surface_geoid_area">
          <!-- Check correct in spherical projection -->
          <attribute name="name">
            <value>Surface Geoid Area</value>
          </attribute>
          <element name="tolerance">
            <ref name="real"/>
          </element>
        </element>
      </optional>
      <element name="edge_node_number">
        <attribute name="name">
          <value>Edge node number</value>
        </attribute>
        <element name="tolerance">
          <ref name="integer"/>
        </element>
      </element>
      <optional>
        <element name="element_circumsphere">
          <attribute name="name">
            <value>Element circumsphere range</value>
          </attribute>
          <element name="tolerance">
            <ref name="integer"/>
          </element>
        </element>
      </optional>
    </element>
  </define>
  <define name="geometry">
    <element name="geometry">
      <a:documentation>Options dealing with the specification of geometry</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <choice>
            <value>3</value>
            <value>2</value>
            <value>1</value>
          </choice>
        </element>
      </element>
      <element name="mesh">
        <a:documentation>The position mesh</a:documentation>
        <attribute name="name">
          <value>CoordinateMesh</value>
        </attribute>
        <ref name="mesh_info"/>
      </element>
      <optional>
        <element name="mesh">
          <a:documentation>The velocity mesh</a:documentation>
          <attribute name="name">
            <value>VelocityMesh</value>
          </attribute>
          <ref name="mesh_info"/>
        </element>
      </optional>
      <optional>
        <element name="mesh">
          <a:documentation>The pressure mesh</a:documentation>
          <attribute name="name">
            <value>PressureMesh</value>
          </attribute>
          <ref name="mesh_info"/>
        </element>
      </optional>
      <zeroOrMore>
        <element name="mesh">
          <attribute name="name">
            <data type="string"/>
          </attribute>
          <ref name="mesh_info"/>
          <optional>
            <element name="exclude_from_mesh_adaptivity">
              <empty/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
      <element name="quadrature">
        <a:documentation>Quadrature</a:documentation>
        <element name="degree">
          <a:documentation>Quadrature degree

note: this specifies the degree of quadrature,
not the number of gauss points</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="surface_degree">
            <a:documentation>Surface quadrature degree

note: this specifies the degree of surface
quadrature not the number of surface gauss points</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
        <optional>
          <element name="controlvolume_surface_degree">
            <a:documentation>Sets the degree of quadrature on each quadrilateral
face of the control volume. 

Defaults to 1 if
unselected which is the same as pre-new options
behaviour.</a:documentation>
            <ref name="integer"/>
          </element>
        </optional>
        <optional>
          <element name="quadrature_family">
            <a:documentation>Select which family of quadrature rules to use.
The default is family_cools.
family_wandzura allows for degree up to 30
on triangular meshes.
family_grundmann_moeller allows for degree up to
29 on simplicial meshes in arbitrary dimension.</a:documentation>
            <element name="string_value">
              <choice>
                <value>family_cools</value>
                <value>family_grundmann_moeller</value>
                <value>family_wandzura</value>
              </choice>
            </element>
          </element>
        </optional>
      </element>
      <optional>
        <element name="disable_geometric_data_cache">
          <a:documentation>This causes the change of variables associated with each element in 
the mesh to be stored rather than calculated every time it is used. 
This should speed up computations at a cost of some memory. 

The cache is automatically regenerated after mesh movement or 
adaptivity and is automatically disabled for non-linear positions fields.</a:documentation>
          <empty/>
        </element>
      </optional>
      <optional>
        <element name="spherical_earth">
          <a:documentation>Options specifying that the problem is on the surface of the sphere.</a:documentation>
          <choice>
            <element name="linear_mapping">
              <empty/>
            </element>
            <element name="superparametric_mapping">
              <a:documentation>Enabling this option approximates the curvature of the Earth as an
nth degree polynomial, where n is the polynomial degree of the coordinate mesh.</a:documentation>
              <empty/>
            </element>
          </choice>
        </element>
      </optional>
      <optional>
        <element name="ocean_boundaries">
          <a:documentation>Options specifying the top surface and bottom of the domain
used in various ocean calculations.</a:documentation>
          <element name="top_surface_ids">
            <a:documentation>Specify the surface ids that make up the top of the domain,
i.e. the free surface or rigid lid.</a:documentation>
            <ref name="integer_vector"/>
          </element>
          <element name="bottom_surface_ids">
            <a:documentation>Specify the surface ids that make up the bottom.</a:documentation>
            <ref name="integer_vector"/>
          </element>
          <element name="scalar_field">
            <a:documentation>Diagnostic field giving the distance to the top surface.</a:documentation>
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <attribute name="name">
              <value>DistanceToTop</value>
            </attribute>
            <element name="diagnostic">
              <ref name="internal_algorithm"/>
              <element name="mesh">
                <attribute name="name">
                  <value>CoordinateMesh</value>
                </attribute>
              </element>
              <ref name="diagnostic_scalar_field"/>
            </element>
          </element>
          <element name="scalar_field">
            <a:documentation>Diagnostic field giving the distance to ocean bottom.</a:documentation>
            <attribute name="rank">
              <value>0</value>
            </attribute>
            <attribute name="name">
              <value>DistanceToBottom</value>
            </attribute>
            <element name="diagnostic">
              <ref name="internal_algorithm"/>
              <element name="mesh">
                <attribute name="name">
                  <value>CoordinateMesh</value>
                </attribute>
              </element>
              <ref name="diagnostic_scalar_field"/>
            </element>
          </element>
        </element>
      </optional>
    </element>
  </define>
</grammar>
